.box {
    display: inline-block;
    width: 200px;
    height: 100px;
    margin: 1em;
    border: 2px solid rgb(6, 153, 6);
    text-align: center;
}
#cont {
    margin-left: 70px;
}
#box1 {
    border: 5px solid rgb(34, 221, 34);
}
.green {
    border: 2px dashed rgb(16, 189, 16);
}
.purple {
    border: 2px dashed rgb(82, 50, 196);
}
.orange {
    border: 2px dashed rgb(228, 61, 19);
}
#box15 {
    border: 5px solid rgb(192, 1, 1);
}