#header {
    margin: auto;
    width: 100%;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: rgb(3, 136, 3);
}
.menu > li {
    float: left;
}
.menu li a {
    background-color: rgb(3, 136, 3);
    color: white;
    text-decoration: none;
    padding: 10px;
    padding-top: 11px;
    padding-bottom: 11px;
    display: block;
    text-align: center;
    min-width: 80px;
}
.menu li a:hover {
    color: rgb(209, 156, 56);
    max-width: 80px;
}
.menu li ul {
    display: none;
}
.menu li:hover > ul {
    display: block;
}

